<h1 class="mat-dialog-title">Deleting order</h1>
<div class="mat-dialog-content">
  <p>{{ data.message }}</p>
</div>
<div class="mat-dialog-actions">
  <button class="mat-button" (click)="onNoClick()">No</button>
  <button class="mat-button" (click)="onYesClick()">Yes</button>
</div>
