.mat-dialog-title {
  color: #6495ed;
  padding: 15px;
}

.mat-dialog-content p {
  padding: 15px;
  font-size: 18px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}

.mat-dialog-actions button {
  padding: 15px;
  cursor: pointer;
  border-color: transparent;
  background-color: #fff;
  font-size: 18px;
}

.mat-dialog-actions button:hover {
  color: #6495ed;
}
