.refresh {
  margin: 90px 0 0 25px;
  background-color: #fff;
  border: none;
  padding: 10px;
  color: #6495ed;
  font-size: 16px;
  border-radius: 7px;
  cursor: pointer;
}

.refresh:hover {
  background-color: transparent;
  border: none;
  transition: all 0.5s ease;
}

table {
  width: 100%;
  margin-top: 20px;
}

th,
td {
  width: 50%;
  height: auto;
}

.new-orders,
.orders-in-progress {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  font-weight: bold;
}

.orders,
.in_progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 150px;
}

.order-body {
  background: #fff;
  margin: 15px 30px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 1rem 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: transform 0.3s ease;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  cursor: move;
}

.order-body:hover {
  transform: scale(1.1);
}

.close-button {
  border-color: transparent;
  background-color: #fff;
  position: absolute;
  top: 0;
  font-size: 18px;
  cursor: pointer;
  right: 0;
}

h3 {
  font-size: 22px;
}

.order-id {
  text-align: center;
  font-weight: 500;
}

.show-details {
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  background-color: transparent;
  color: #6495ed;
  border: none;
  font-size: 18px;
}

.show-details:hover {
  cursor: pointer;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.order-body:last-child {
  border: none;
}

.order-body.cdk-drop-list-dragging .order-body:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media screen and (max-width: 640px) {
  .order-body {
    width: calc(90% - 15px);
    margin: 15px 10px;
  }
}

@media screen and (min-width: 641px) and (max-width: 767px) {
  .order-body {
    width: calc(70% - 15px);
    margin: 15px 10px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
  .order-body {
    width: calc(60% - 15px);
    margin: 15px 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .order-body {
    width: calc(45% - 18px);
    margin: 15px 20px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .order-body {
    width: calc(38% - 30px);
    margin: 15px 25px;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 2200px) {
  .order-body {
    width: calc(33.33% - 20px);
    margin: 15px 35px;
  }
}
