<button (click)="refreshOrders()" class="refresh">Refresh orders</button>

<table>
  <tr>
    <th><h1 class="new-orders">New orders</h1></th>
    <th><h1 class="orders-in-progress">Orders in progress</h1></th>
  </tr>
  <tr>
    <td>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="tables"
        [cdkDropListConnectedTo]="[doneList]"
        class="orders drag-drop-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          *ngFor="let table of tables"
          class="order-body drag-drop-item"
          cdkDrag
        >
          <h3 class="order-id">Table {{ table.myTable.id }}</h3>
          <hr />
          <button (click)="showDetails(table)" class="show-details">
            Show order details
          </button>
        </div>
      </div>
    </td>

    <td>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="orders_in_progress"
        (cdkDropListDropped)="drop($event)"
        class="in_progress drag-drop-list"
      >
        <div
          *ngFor="let table of orders_in_progress"
          class="order-body drag-drop-item"
          cdkDrag
        >
          <h3 class="order-id">Table {{ table.myTable.id }}</h3>
          <hr />
          <button (click)="showDetails(table)" class="show-details">
            Show order details
          </button>
        </div>
      </div>
    </td>
  </tr>
</table>
