<nav class="main-nav">
  <div class="logo"><img src="../../assets/logo.png" /></div>
  <ul class="nav-links">
    <li><a routerLink="/" class="nav-link">Orders</a></li>
    <li>
      <a routerLink="/completed-orders" class="nav-link">Completed orders</a>
    </li>
  </ul>
</nav>
