.main-nav {
  background-color: #fff;
  padding: 10px 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}

.logo img {
  width: 150px;
  padding-left: 20px;
}

.nav-links {
  list-style: none;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.main-nav a {
  text-decoration: none;
  color: #6495ed;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.main-nav a:hover {
  background-color: #6495ed;
  color: #fff;
}

.nav-link {
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  color: #6495ed;
}
