table {
  width: 100%;
  margin-top: 70px;
}

th,
td {
  width: 50%;
  height: auto;
  vertical-align: top;
}

.total_price {
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
}

.completed-orders {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-weight: bold;
}

.orders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 150px;
}

.order-body {
  background: #fff;
  margin: 15px 25px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 1rem 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: transform 0.3s ease;
  width: calc(33.33%);
  box-sizing: border-box;
  cursor: move;
}

.order-body:hover {
  transform: scale(1.1);
}

h3 {
  font-size: 22px;
}

.order-id {
  text-align: center;
  font-weight: 500;
}

.order-title {
  text-align: center;
  font-weight: normal;
}

.show-details {
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  background-color: transparent;
  color: #6495ed;
  border: none;
  font-size: 18px;
}

.show-details:hover {
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .order-body {
    width: calc(90% - 15px);
    margin: 15px 10px;
  }
}

@media screen and (min-width: 641px) and (max-width: 767px) {
  .order-body {
    width: calc(70% - 15px);
    margin: 15px 10px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
  .order-body {
    width: calc(60% - 15px);
    margin: 15px 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .order-body {
    width: calc(45% - 18px);
    margin: 15px 20px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .order-body {
    width: calc(38% - 30px);
    margin: 15px 25px;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 2200px) {
  .order-body {
    width: calc(33.33% - 20px);
    margin: 15px 35px;
  }
}
