<table>
  <tr>
    <th><h1 class="completed-orders">Completed orders</h1></th>
    <th><h1 class="details"></h1></th>
  </tr>
  <tr>
    <td>
      <div class="orders">
        <div *ngFor="let table of completed_orders" class="order-body">
          <h3 class="order-id">Table {{ table.myTable.id }}</h3>
          <hr />
          <button (click)="showDetails(table)" class="show-details">
            Show order details
          </button>
        </div>
      </div>
    </td>

    <td>
      <p class="total_price">
        Total price: {{ totalPrice | number : ".2-2" }} €
      </p>
    </td>
  </tr>
</table>
