<div class="order-details-dialog">
  <div *ngIf="data && data.order" class="details-body">
    <h3 class="order-id">Table {{ data.order.myTable.id }}</h3>
    <p *ngIf="data.order.comment" class="order-description">
      Note: {{ data.order.comment }}
    </p>
    <table class="order-details">
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      <ng-container *ngFor="let item of orderDetails">
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }}x</td>
          <td>{{ item.price }} €</td>
        </tr>
      </ng-container>
    </table>
    <hr />
    <p class="order-price">
      Total price: {{ calculateTotalPrice(orderDetails) }} €
    </p>
    <button
      (click)="markAsDone(data.order.id)"
      *ngIf="data.order.status.toLowerCase() === 'ready'"
      class="done"
    >
      ✓ Done
    </button>
  </div>
</div>
