.order-details-dialog {
  background-color: #fff;
  padding: 20px;
  width: 500px;
  min-height: 250px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
}

table th {
  padding: 15px;
}

table td {
  text-align: center;
  padding: 8px;
}

.order-id {
  font-size: 36px;
  margin: 10px 0 30px 0;
  font-weight: bold;
  text-align: center;
  color: #6495ed;
}

.drink-name,
.quantity,
.drink-price {
  font-weight: normal;
  font-size: 20px;
  padding: 16px;
}

.order-description {
  font-size: 20px;
  margin: 15px 0;
  color: #f00;
  padding-left: 10px;
}

.order-price {
  font-size: 22px;
  margin: 15px 0 20px 0;
  padding-right: 40px;
  text-align: right;
}

.done {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 26px;
  color: green;
  background: transparent;
  border: none;
}

@media screen and (max-width: 640px) {
  .order-details-dialog {
    width: auto;
    min-height: auto;
  }

  .done {
    font-size: 20px;
  }
}

@media screen and (min-width: 641px) and (max-width: 767px) {
  .order-details-dialog {
    width: auto;
    min-height: auto;
  }

  .done {
    font-size: 22px;
  }
}
